.navbar {
  background: #bfbef9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.navbar > ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar ul li {
  margin: 0 10px;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 0;
  position: relative;
}

.item {
  text-decoration: none;
  color: #111;
}

.navbar li a::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  left: 0;
  width: 0%;
  background: blue;
  transition: all 0.4s ease;
}

.navbar ul li a::before {
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

.navbar ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.img__logo {
  height: 5.5rem;
}

.moon {
  height: 10px;
}

.cursor {
  cursor: pointer;
}
