.navbar {
  background: #bfbef9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.img__logo {
  height: 5.5rem;
}

.lista {
  display: flex;
  list-style: none;
  align-items: center;
}

.lista__itens {
  margin: 0 10px;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 0;
  position: relative;
}

.item {
  text-decoration: none;
  color: #111;
}

.item::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #1d30dd;
  transition: all 0.4s ease;
}

.item::before {
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

.item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
