*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


main{
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
}
header{
  width: 100%;
  margin: 0 auto;
  background-color: #BFBEF9;
}


.nav_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 68px;
  margin: 0 auto;
}

.lista_container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lista_item{
  list-style: none;
  margin-left: 21px;
}
.lista_link{
  text-decoration: none;
  color: black;
}
.lista_link:hover{
  color: #FFF;
}


.pesquisa{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#busca{
  background-color: #BFBEF9;
  width: 500px;
  height: 20px;
  text-align: start;
  padding: 0.8em;
  border-radius: 5px;
  color: #FFF;
}
.pesquisa_botao{
  background-color: #3554F9;
  padding: 0.3em;
  text-align: center;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.pesquisa_botao:hover{
  color: #FFF;
}

.card{
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.card__layout{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #BFBEF9;
  height: 200px;
  width: 580px;
  padding: 1em;
}

.card__informacoes{
  text-align: center;
}
.card__informacoes_nome{
  border: 1px #FFF solid;
  border-radius: 8px;
  padding: 0.2em;
  background-color: #FFF;
  margin-bottom: 1em;
}
.card__informacoes_cargo{
  border: 1px #FFF solid;
  border-radius: 8px;
  padding: 0.2em;
  background-color: #FFF;
  margin-bottom: 1em;
}
.card__informacoes_desc{
  border: 1px #FFF solid;
  border-radius: 8px;
  padding: 0.2em;
  background-color: #FFF;
  margin-bottom: 1em;
}

.card__botoes{
  margin-top: 2em;
}

.card__btn{
  background-color: #3554F9;
  border: 1px solid #3554F9;
  border-radius: 10px;
  padding: 0.2em;
  margin-right: 15px;
  cursor: pointer;
  width: 123px;
}
.card__btn:hover{
  color: #FFF;
}



footer{
  background-color: #BFBEF9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 105px;
  height: 68px;
}
