<body>
  <header>
      <nav class="nav_container">
        <img src="/src/assets/img/gestor-de-projeto.png" alt="Logo Gestor">
        <ul class="lista_container">
          <li class="lista_item">
            <a href="#" class="lista_link">Pesquisa</a>
          </li>
          <li class="lista_item">
            <a href="#" class="lista_link">Cadastro</a>
          </li>
        </ul>
      </nav>
  </header>
  <main>
    <section class="pesquisa">
      <div class="pesquisa_container">
        <input type="text" id="busca" placeholder="Pesquisar...">
      </div>
    </section>

    <section class="card">
      <div class="card__layout">
        <img src="" alt="Foto Usuario">
        <div class="card__informacoes">
          <h4 class="card__informacoes_nome">Nome do Usuario</h4>
          <h5 class="card__informacoes_cargo">Cargo</h5>
          <P class="card__informacoes_desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</P>
          <div class="card__botoes">
            <button class="card__btn" type="submit">Download</button>
            <img src="/src/assets/img/whatsapp.png" alt="Whatsapp">
            <img src="/src/assets/img/o-email.png" alt="Email">
            <img src="/src/assets/img/github.png" alt="GitHub">
            <img src="/src/assets/img/linkedin.png" alt="Linkedin">
          </div>
        </div>
      </div>

      <div class="card__layout">
        <img src="" alt="Foto Usuario">
        <div class="card__informacoes">
          <h4 class="card__informacoes_nome">Nome do Usuario</h4>
          <h5 class="card__informacoes_cargo">Cargo</h5>
          <P class="card__informacoes_desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</P>
          <div class="card__botoes">
            <button class="card__btn" type="submit">Download</button>
            <img src="/src/assets/img/whatsapp.png" alt="Whatsapp">
            <img src="/src/assets/img/o-email.png" alt="Email">
            <img src="/src/assets/img/github.png" alt="GitHub">
            <img src="/src/assets/img/linkedin.png" alt="Linkedin">
          </div>
        </div>
      </div>

      <div class="card__layout">
        <img src="" alt="Foto Usuario">
        <div class="card__informacoes">
          <h4 class="card__informacoes_nome">Nome do Usuario</h4>
          <h5 class="card__informacoes_cargo">Cargo</h5>
          <P class="card__informacoes_desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</P>
          <div class="card__botoes">
            <button class="card__btn" type="submit">Download</button>
            <img src="/src/assets/img/whatsapp.png" alt="Whatsapp">
            <img src="/src/assets/img/o-email.png" alt="Email">
            <img src="/src/assets/img/github.png" alt="GitHub">
            <img src="/src/assets/img/linkedin.png" alt="Linkedin">
          </div>
        </div>
      </div>
      <div class="card__layout">
        <img src="" alt="Foto Usuario">
        <div class="card__informacoes">
          <h4 class="card__informacoes_nome">Nome do Usuario</h4>
          <h5 class="card__informacoes_cargo">Cargo</h5>
          <P class="card__informacoes_desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</P>
          <div class="card__botoes">
            <button class="card__btn" type="submit">Download</button>
            <img src="/src/assets/img/whatsapp.png" alt="Whatsapp">
            <img src="/src/assets/img/o-email.png" alt="Email">
            <img src="/src/assets/img/github.png" alt="GitHub">
            <img src="/src/assets/img/linkedin.png" alt="Linkedin">
          </div>
        </div>
      </div>
    </section>
  </main>



  <footer>
    <span>&copy;Todos os direitos reservados</span>
  </footer>
</body>
