*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main{
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
}
header{
  width: 90%;
  margin: 0 auto;
}
.nav_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #BFBEF9;
  height: 68px;
}

.lista_container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lista_item{
  list-style: none;
  margin-left: 21px;
}


.pesquisa{
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#busca{
  background-color: #BFBEF9;
  width: 500px;
  height: 20px;
  text-align: start;
  padding: 0.8em;
  border-radius: 5px;
}



footer{
  background-color: #BFBEF9;
  text-align: center;
  margin-top: 2em;
}
