<h1 class="titulo">Cadastro de Funcionário</h1>
<div class="container">
  <div class="container__cadastro">
    <section class="section__imagem">
      <img
        src="../../../assets/img/gestor-de-projeto.png"
        alt="Nome"
        class="imagem"
      />
      <article class="btn">
        <button class="article__btn">Editar Imagem</button>
        <button class="article__btn">Salvar Currículo</button>
      </article>
    </section>
    <aside>
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <label for="nomeCompleto" class="details">Nome completo: </label>
            <input
              type="text"
              name="nomeCompleto"
              placeholder="Insira seu nome completo"
              required
            />
          </div>
          <div class="input-box">
            <label for="cargo" class="details">Cargo: </label>
            <input
              type="text"
              name="cargo"
              placeholder="Insira seu cargo"
              required
            />
          </div>
          <div class="input-box">
            <label for="empresa" class="details">Empresa: </label>
            <input
              type="text"
              name="empresa"
              placeholder="Insira sua empresa"
              required
            />
          </div>
          <div class="input-box">
            <label for="email" class="details">E-mail: </label>
            <input
              type="email"
              name="email"
              placeholder="Insira seu e-mail"
              required
            />
          </div>
          <div class="input-box">
            <label for="github" class="details">Github: </label>
            <input
              type="text"
              name="github"
              placeholder="Insira seu github"
              required
            />
          </div>
          <div class="input-box">
            <label for="linkedin" class="details">Linkedin: </label>
            <input
              type="text"
              name="linkedin"
              placeholder="Insira seu perfil no linkedin"
              required
            />
          </div>
          <div class="input-box">
            <label for="telefone" class="details">Telefone: </label>
            <input
              type="tel"
              name="telefone"
              placeholder="Insira seu telefone"
              required
            />
          </div>
        </div>
        <button class="article__btn">Salvar</button>
      </form>
    </aside>
  </div>
</div>
