<h1 class="titulo">Cadastro de Funcionário</h1>
<div class="container">
  <div class="container__cadastro">
    <section class="section__imagem">
      <img [src]="imagem" alt="Nome" class="imagem" />
      <form class="btn">
        <input
          type="file"
          name="imagem"
          accept="image/png, image/jpeg"
          class="article__btn"
        />
        <input
          type="file"
          name="curriculo"
          accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
        text/plain, application/pdf"
          class="article__btn"
        />
      </form>
    </section>
    <aside>
      <form action="#">
        <div class="detalhes__form">
          <div class="input-box">
            <label for="nomeCompleto" class="detalhes">Nome completo: </label>
            <input
              type="text"
              name="nomeCompleto"
              placeholder="Insira seu nome completo"
              required
            />
          </div>
          <div class="input-box">
            <label for="cargo" class="detalhes">Cargo: </label>
            <input
              type="text"
              name="cargo"
              placeholder="Insira seu cargo"
              required
            />
          </div>
          <div class="input-box">
            <label for="empresa" class="detalhes">Empresa: </label>
            <input
              type="text"
              name="empresa"
              placeholder="Insira sua empresa"
              required
            />
          </div>
          <div class="input-box">
            <label for="descricao" class="detalhes">Descrição: </label>
            <input
              type="text"
              name="descricao"
              placeholder="Insira uma descrição"
              required
            />
          </div>
          <div class="input-box">
            <label for="email" class="detalhes">E-mail: </label>
            <input
              type="email"
              name="email"
              placeholder="Insira seu e-mail"
              required
            />
          </div>
          <div class="input-box">
            <label for="github" class="detalhes">Github: </label>
            <input
              type="text"
              name="github"
              placeholder="Insira seu github"
              required
            />
          </div>
          <div class="input-box">
            <label for="linkedin" class="detalhes">Linkedin: </label>
            <input
              type="text"
              name="linkedin"
              placeholder="Insira seu perfil no linkedin"
              required
            />
          </div>
          <div class="input-box">
            <label for="telefone" class="detalhes">Telefone: </label>
            <input
              type="tel"
              name="telefone"
              placeholder="Insira seu telefone"
              required
            />
          </div>
        </div>
        <div class="container__btn__salvar">
          <button class="article__btn__salvar" type="submit">Salvar</button>
        </div>
      </form>
    </aside>
  </div>
</div>
