<h1 class="titulo">
  {{ existeFuncionario ? "Edite um Funcionário" : "Cadastrar um Funcionário" }}
</h1>

<div class="container">
  <div class="container__cadastro">
    <section class="section__imagem">
      <ng-container *ngIf="existeFuncionario">
        <ng-container *ngIf="!imagemSalva">
          <img
            src="{{
              'http://127.0.0.1:5000/projetos/imagens/' +
                this.nome?.replace(' ', '_') +
                '.png'
            }}"
            alt="Nome"
            class="foto"
            #salvaImagem
          />
        </ng-container>
        <ng-container *ngIf="imagemSalva">
          <img [src]="minhaImagem" alt="Nome" class="foto" #salvaImagem />
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!existeFuncionario">
        <ng-container *ngIf="!imagemSalva">
          <img [src]="imagem" alt="Nome" class="foto" #salvaImagem />
        </ng-container>
        <ng-container *ngIf="imagemSalva">
          <img [src]="minhaImagem" alt="Nome" class="foto" #salvaImagem />
        </ng-container>
      </ng-container>
      <form class="btn" [formGroup]="formulario" #formDir="ngForm">
        <input
          type="file"
          name="foto"
          (change)="uploadFoto($event)"
          formControlName="foto"
          accept="image/png, image/jpeg, text/plain"
          class="article__btn"
        />
        <input
          (change)="uploadArquivo($event)"
          formControlName="curriculo"
          type="file"
          name="curriculo"
          accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
        text/plain, application/pdf"
          class="article__btn"
        />
      </form>
    </section>
    <aside>
      <form [formGroup]="formulario" (ngSubmit)="postOuPut()">
        <div class="detalhes__form">
          <div class="input-box">
            <label for="nomeCompleto" class="detalhes">Nome completo: </label>
            <input
              type="text"
              [(ngModel)]="nome"
              name="nomeCompleto"
              formControlName="nome"
              placeholder="Insira seu nome completo"
              required
            />
          </div>
          <div class="input-box">
            <label for="cargo" class="detalhes">Cargo: </label>
            <input
              type="text"
              name="cargo"
              [(ngModel)]="cargo"
              formControlName="cargo"
              placeholder="Insira seu cargo"
              required
            />
          </div>
          <div class="input-box">
            <label for="empresa" class="detalhes">Empresa: </label>
            <input
              type="text"
              name="empresa"
              [(ngModel)]="empresa"
              formControlName="empresa"
              placeholder="Insira sua empresa"
              required
            />
          </div>
          <div class="input-box">
            <label for="descricao" class="detalhes">Descrição: </label>
            <input
              type="text"
              name="descricao"
              [(ngModel)]="descricao"
              formControlName="descricao"
              placeholder="Insira uma descrição"
              required
            />
          </div>
          <div class="input-box">
            <label for="email" class="detalhes">E-mail: </label>
            <input
              type="email"
              name="email"
              [(ngModel)]="email"
              formControlName="email"
              placeholder="Insira seu e-mail"
              required
            />
          </div>
          <div class="input-box">
            <label for="github" class="detalhes">Github: </label>
            <input
              type="text"
              name="github"
              [(ngModel)]="github"
              formControlName="github"
              placeholder="Insira seu github"
              required
            />
          </div>
          <div class="input-box">
            <label for="linkedin" class="detalhes">Linkedin: </label>
            <input
              type="text"
              name="linkedin"
              [(ngModel)]="linkedin"
              formControlName="linkedin"
              placeholder="Insira seu perfil no linkedin"
              required
            />
          </div>
          <div class="input-box">
            <label for="telefone" class="detalhes">Telefone: </label>
            <input
              type="tel"
              name="telefone"
              [(ngModel)]="telefone"
              formControlName="telefone"
              placeholder="Insira seu telefone"
              required
            />
          </div>
        </div>
        <div class="container__btn__salvar">
          <button class="article__btn__salvar" type="submit">Salvar</button>
        </div>
      </form>
    </aside>
  </div>
</div>
