<body>
  <main>
    <form action="" class="form__pesquisa">
      <input
        type="text"
        placeholder="Pesquise..."
        nome="pesquisa"
        class="form__input"
      />
      <button type="submit" class="form__botao">
        <i class="bx bx-search bx-md icone__pesquisa"></i>
      </button>
    </form>

    <section class="conteudo__card">
      <article class="card">
        <aside class="conteudo__imagem">
          <figure class="card__imagem">
            <img
              src="../../../assets/img/foto_exemplo.jpg"
              alt=""
              class="card__img"
            />
          </figure>
        </aside>
        <div class="card__conteudo">
          <h2 class="nome">Gabriel Michels</h2>
          <h3 class="cargo">Trainee</h3>
          <p class="descricao">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam hic
            ipsa provident modi aliquam illum eum numquam cum odit, explicabo.
          </p>
          <div class="informacoes">
            <button class="article__btn">Currículo</button>
            <a href="mailto:gspindola@magnasistemas.com.br" target="_blank"
              ><i class="bx bx-envelope icone bx-md"></i
            ></a>
            <a href="https://wa.me/5511983638764" target="_blank"
              ><i class="bx bxl-whatsapp icone bx-md"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/gabrielmichels/"
              target="_blank"
              ><i class="bx bxl-linkedin icone bx-md"></i
            ></a>
            <a href="https://github.com/Michelsgab" target="_blank"
              ><i class="bx bxl-github icone bx-md"></i
            ></a>
          </div>
        </div>
      </article>
    </section>
  </main>
</body>
