<body>
  <main>
    <section class="pesquisa">
      <div class="pesquisa__container">
        <input type="text" id="busca" placeholder="Pesquisar...">
      </div>
    </section>

    <section class="card">
      <div class="card__layout">
        <img src="" alt="Foto Usuario">
        <div class="card__informacoes">
          <h4 class="card__informacoes_nome">Nome do Usuario</h4>
          <h5 class="card__informacoes_cargo">Cargo</h5>
          <P class="card__informacoes_desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</P>
          <div class="card__botoes">
            <button class="card__btn" type="submit">Download</button>
            <img src="/assets/img/whatsapp.png" alt="Whatsapp" class="card__img">
            <img src="/assets/img/o-email.png" alt="Email" class="card__img">
            <img src="/assets/img/github.png" alt="GitHub" class="card__img">
            <img src="/assets/img/linkedin.png" alt="Linkedin" class="card__img">
          </div>
        </div>
      </div>

      <div class="card__layout">
        <img src="" alt="Foto Usuario">
        <div class="card__informacoes">
          <h4 class="card__informacoes_nome">Nome do Usuario</h4>
          <h5 class="card__informacoes_cargo">Cargo</h5>
          <P class="card__informacoes_desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</P>
          <div class="card__botoes">
            <button class="card__btn" type="submit">Download</button>
            <img src="/assets/img/whatsapp.png" alt="Whatsapp" class="card__img">
            <img src="/assets/img/o-email.png" alt="Email" class="card__img">
            <img src="/assets/img/github.png" alt="GitHub" class="card__img">
            <img src="/assets/img/linkedin.png" alt="Linkedin" class="card__img">
          </div>
        </div>
      </div>

      <div class="card__layout">
        <img src="" alt="Foto Usuario">
        <div class="card__informacoes">
          <h4 class="card__informacoes_nome">Nome do Usuario</h4>
          <h5 class="card__informacoes_cargo">Cargo</h5>
          <P class="card__informacoes_desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</P>
          <div class="card__botoes">
            <button class="card__btn" type="submit">Download</button>
            <img src="/assets/img/whatsapp.png" alt="Whatsapp" class="card__img">
            <img src="/assets/img/o-email.png" alt="Email"class="card__img">
            <img src="/assets/img/github.png" alt="GitHub"class="card__img">
            <img src="/assets/img/linkedin.png" alt="Linkedin" class="card__img">
          </div>
        </div>
      </div>
      <div class="card__layout">
        <img src="" alt="Foto Usuario">
        <div class="card__informacoes">
          <h4 class="card__informacoes_nome">Nome do Usuario</h4>
          <h5 class="card__informacoes_cargo">Cargo</h5>
          <P class="card__informacoes_desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</P>
          <div class="card__botoes">
            <button class="card__btn" type="submit">Download</button>
            <img src="/assets/img/whatsapp.png" alt="Whatsapp" class="card__img">
            <img src="/assets/img/o-email.png" alt="Email" class="card__img">
            <img src="/assets/img/github.png" alt="GitHub" class="card__img">
            <img src="/assets/img/linkedin.png" alt="Linkedin" class="card__img">
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
